@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section>
    @* <article class="flex-container">
        <div>
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="height: 500px">
        </div>
        <div style="">
            <h6>
                W3Schools is a freemium educational website for learning coding online. Initially released in 1998, it derives its name from the World Wide Web but is not affiliated with the W3 Consortium. W3Schools offers courses covering many aspects of web development. W3Schools also publishes free HTML templates.
                On the site, source code examples with explanations are shown free of charge in English, most of which can also be edited and executed interactively in a live editor. Other important code elements are hidden so that the user can focus on the code shown (developer sandbox). The tutorials are divided into individual chapters on the development languages. In addition to the basics, application-related implementation options and examples, as well as a focus on individual elements of the programming language (so-called "references") are documented. In addition, there is a YouTube channel, which takes up and explains certain topics in web development, and an Internet forum.
            </h6>
            
        </div>
    </article> *@
    <article class="flex-container">
        <div>
            <img src="https://nkytribune.com/wp-content/uploads/2019/05/DHL-777.jpg" alt="DHL" style="height: 500px; width:500px">
        </div>
        <div style="">
            <h6>
                W3Schools is a freemium educational website for learning coding online. Initially released in 1998, it derives its name from the World Wide Web but is not affiliated with the W3 Consortium. W3Schools offers courses covering many aspects of web development. W3Schools also publishes free HTML templates.
                On the site, source code examples with explanations are shown free of charge in English, most of which can also be edited and executed interactively in a live editor. Other important code elements are hidden so that the user can focus on the code shown (developer sandbox). The tutorials are divided into individual chapters on the development languages. In addition to the basics, application-related implementation options and examples, as well as a focus on individual elements of the programming language (so-called "references") are documented. In addition, there is a YouTube channel, which takes up and explains certain topics in web development, and an Internet forum.
            </h6>

        </div>
    </article>
    <article class="flex-container">
        
        <div style="">
            <h6>
                W3Schools is a freemium educational website for learning coding online. Initially released in 1998, it derives its name from the World Wide Web but is not affiliated with the W3 Consortium. W3Schools offers courses covering many aspects of web development. W3Schools also publishes free HTML templates.
                On the site, source code examples with explanations are shown free of charge in English, most of which can also be edited and executed interactively in a live editor. Other important code elements are hidden so that the user can focus on the code shown (developer sandbox). The tutorials are divided into individual chapters on the development languages. In addition to the basics, application-related implementation options and examples, as well as a focus on individual elements of the programming language (so-called "references") are documented. In addition, there is a YouTube channel, which takes up and explains certain topics in web development, and an Internet forum.
            </h6>

        </div>
        <div>
            <img src="https://th.bing.com/th/id/OIP.-jFTwbPU4_kuxIHYhPiKgQHaE7?w=343&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="DHL" style="height: 500px; width:500px">
        </div>
    </article>
</section>
